# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\interview\stylegan2-distillation\stylegan2\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
